* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Tektur", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(2, 0.5fr) repeat(2, 1fr);
  grid-template-rows: 0.3fr 0.8fr 0.3fr repeat(2, 1fr);
  border: 3px solid #000;
  min-height: 100vh;
  grid-template-areas:
    "profile novram novram date dark-mode"
    "profile who who who table"
    "home home line line table"
    "main main main main table"
    "main main main main like";
}

a {
  color: #000;
  text-decoration: none;
}

.box {
  border: 3px solid #000;
}

.box:nth-of-type(1) {
  grid-area: profile;
  background-color: #332941;
}

.box:nth-of-type(2) {
  grid-area: novram;
  background-color: #ddd;
}

.box:nth-of-type(3) {
  grid-area: date;
  background-color: #ddd;
}

.box:nth-of-type(4) {
  grid-area: dark-mode;
  background-color: #ddd;
}

.box:nth-of-type(5) {
  grid-area: who;
  background-color: #3b3486;
}

.box:nth-of-type(6) {
  grid-area: table;
  background-color: #ddd;
}

.box:nth-of-type(7) {
  grid-area: home;
  background-color: #ddd;
}

.box:nth-of-type(8) {
  grid-area: line;
  background-color: #ddd;
}

.box:nth-of-type(9) {
  grid-area: main;
  background-color: #3b3486;
}

.box:nth-of-type(10) {
  grid-area: like;
  background-color: #332941;
}

header,
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-name a {
  width: 100%;
  text-align: center;
}

.header-img img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
}

.box-gender {
  color: #ddd;
}

.guess-gender {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.title-content {
  text-align: center;
  border-bottom: 3px solid #000;
  padding: 10px 0;
}

.title-content.flip {
  transform: rotate(180deg);
  padding: 15px 0;
}

.lists li a {
  display: block;
  padding: 20px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  color: #000;
}

.main-content {
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.main-content h1 {
  text-transform: uppercase;
}

.main-content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ddd;
  border: 3px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.box-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.job {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.line-light {
  width: 30%;
  height: 6px;
  background-color: #000;
}

.job a {
  color: #ddd;
}

.social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.social-media a {
  font-size: 50px;
  color: #ddd;
}

.line-content {
  width: 70%;
  height: 3px;
  background-color: #ddd;
  margin: 20px 0;
}

.like-box a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  color: #ddd;
}

@media (max-width: 850px) {
}

@media (max-width: 650px) {
  .container {
    grid-template-areas:
      "profile novram novram date dark-mode"
      "who who who who table"
      "home home line line table"
      "main main main main table"
      "main main main main like";
  }

  .main-content h1 {
    font-size: 28px;
  }

  .guess-gender {
    flex-direction: column;
  }

  .guess-gender input {
    width: 100%;
  }

  .header-img img {
    max-width: 60px;
  }
}
